@page "/employees"
@using BlazorWasm.Shared.Employee;

<style>
    #employees {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #employees td, #employees th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #employees tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #employees tr:hover {
            background-color: #ddd;
        }

        #employees th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>

<PageTitle>Employees</PageTitle>
<h3>Employees</h3>

<table id="employees">
    <tr>
        <th>
            Name:
        </th>
        <th>
            Surname:
        </th>
        <th>
            Hire Date Start:
        </th>
        <th>
            Hire Date End:
        </th>
        <th>
            Sallary Per Month:
        </th>
        <th>
            Employee Type:
        </th>
        <th>
            Action:
        </th>
    </tr>
    @foreach (EmployeesDto employeesDto in employees)
    {
            <tr>
                <th>
                    <input type="text" placeholder="Name" @bind="employeesDto.Name" />
                </th>
                <th>
                    <input type="text" placeholder="Surname" @bind="employeesDto.Surname" />
                </th>
                <th>
                    <input type="text" placeholder="Hire Date Start" @bind="employeesDto.HiretDateStart" />
                </th>
                <th>
                    <input type="text" placeholder="Hire Date End" @bind="employeesDto.HireDateEnd" />
                </th>
                <th>
                <input type="text" placeholder="Sallary Per Month" @bind="employeesDto.SallaryPerMonth" />
                </th>
                <th>
                <input type="text" placeholder=" Employee Type" @bind="employeesDto.EmployeeType" />
                </th>
                <th>
                @*<button class="btn btn-primary" @onclick="()=> EditCustomer(customerDto)">Edit</button>
            <button class="btn btn-danger" @onclick="()=> DeleteCustomer(customerDto)">Delete</button>*@
                </th>
            </tr>
    }
</table>

@code {
    List<EmployeesDto> employees = new List<EmployeesDto>();
}
