@page "/staffTab/items"

<PageTitle>Items</PageTitle>
<h3>Items</h3>

<table>
    <tr>
        <th>
            Code:
        </th>
        <th>
            Description:
        </th>
        <th>
            Item Type:
        </th>
        <th>
            Price:
        </th>
        <th>
            Cost:
        </th>
        <th>
            Action:
        </th>
    </tr>
    @foreach (ItemsDto itemsDto in items)
    {
                <tr>
                    <th>
                    <input type="text" placeholder="Code" @bind="itemsDto.Code" />
                    </th>
                    <th>
                    <input type="text" placeholder="Description" @bind="itemsDto.Description" />
                    </th>
                    <th>
                    <input type="text" placeholder="Item Type" @bind="itemsDto.ItemType" />
                    </th>
                    <th>
                    <input type="text" placeholder="Price" @bind="itemsDto.Price" />
                    </th>
                    <th>
                    <input type="text" placeholder="Cost" @bind="itemsDto.Cost" />
                    </th>
                    <th>
                @*<button class="btn btn-primary" @onclick="()=> EditCustomer(customerDto)">Edit</button>
            <button class="btn btn-danger" @onclick="()=> DeleteCustomer(customerDto)">Delete</button>*@
                    </th>
                </tr>
    }
</table>

@code {
    List<ItemsDto> items = new List<ItemsDto>();
}
