@page "/ledger"

<style>
    #ledger {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #ledger td, #ledger th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #ledger tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #ledger tr:hover {
            background-color: #ddd;
        }

        #ledger th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>

<PageTitle>Ledger</PageTitle>
<h3>Ledger</h3>

<table id="ledger">
    <tr>
        <th>
            Year:
        </th>
        <th>
            Month:
        </th>
        <th>
            Income:
        </th>
        <th>
            Expenses:
        </th>
        <th>
            Total:
        </th>
    </tr>
    @foreach (LedgerDto ledgerDto in ledgerDtos)
    {
            <tr>
                <th>
                <input type="text" placeholder="Year" @bind="ledgerDto.Year" />
                </th>
                <th>
                <input type="text" placeholder="Month" @bind="ledgerDto.Month" />
                </th>
                <th>
                <input type="text" placeholder="Income" @bind="ledgerDto.Income" />
                </th>
                <th>
                <input type="text" placeholder="Expenses" @bind="ledgerDto.Expenses" />
                </th>
                <th>
                <input type="text" placeholder="Total" @bind="ledgerDto.Total" />
                </th>               
            </tr>
    }
</table>

@code {
    List<LedgerDto> ledgerDtos = new List<LedgerDto>();
}
