@page "/"

<PageTitle>Home Page</PageTitle>

<h1>Wellcome To Our Fuel Station!</h1>
<br />
<h3>
    Please select your role
</h3>

<table>
    <tr>
        <th>
            <a href="default.asp">
                <img src="images\cashier.png" alt="Cashier">
            </a>
        </th>
        <th>
            <a href="default.asp">
                <img src="images\manager.png" alt="Manager">
            </a>
        </th>
        <th>
            <a href="default.asp">
                <img src="images\staff.jpg" alt="Staff">
            </a>
        </th>
    </tr>
    <tr>
        <th>
            Cashier
        </th>
        <th>
            Manager
        </th>
        <th>
            Staff
        </th>
    </tr>
</table>


