<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorWasm</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="/StaffTab" @onclick="()=>expandSubNav1 = !expandSubNav1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Staff
            </NavLink>
        @if (expandSubNav1)
        {
                <NavLink class="expand-menu" href="/staffTab/items">
                <span>Items</span>
            </NavLink>            
        }
            <NavLink class="nav-link" href="/cashierTab" @onclick="()=>expandSubNav2 = !expandSubNav2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cashier
            </NavLink>
        @if (expandSubNav2)
        {
                <NavLink class="expand-menu" href="/cashierTab/customers">
                <span>Customers</span>
            </NavLink>            
        }
            <NavLink class="nav-link" href="/managerTab" @onclick="()=>expandSubNav3 = !expandSubNav3">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Manager
            </NavLink>
        @if (expandSubNav3)
        {
                <NavLink class="expand-menu" href="/managerTab/customers">
                <span>Customers</span>
            </NavLink>
                <NavLink class="expand-menu" href="/managerTab/employees">
                <span>Employees</span>
            </NavLink>
                <NavLink class="expand-menu" href="/managerTab/items">
                <span>Items</span>
            </NavLink>
                <NavLink class="expand-menu" href="/managerTab/ledger">
                <span>Ledger</span>
            </NavLink>
            }            
        </div>
      
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubNav1;
    private bool expandSubNav2;
    private bool expandSubNav3;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
