@page "/customers/customeredit/{Id:int?}"
@inject HttpClient httpClient;
@inject NavigationManager navigationManager;
@using BlazorWasm.Shared.Customer;


<h3>CustomerEdit</h3>

<label>Name</label>
<input type="text" placeholder="Name" @bind="Customer.Name"/>
<label>Surname</label>
<input type="text" placeholder="Surname" @bind="Customer.Surname"/>

<button  @onclick="OnSave">Save</button>
<button  @onclick="OnCancel">Cancel</button>


@code 
{
    [Parameter] public int? ID { get; set; }
    CustomerEditDto? Customer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if(ID == null)
        {
            Customer = new();
        }
        else
        {
            Customer = await httpClient.GetFromJsonAsync<CustomerEditDto>($"api/Customer/{ID}");
        }
    }

    public void OnCancel()
    {
        navigationManager.NavigateTo("Customers");
    }

    public async Task OnSave()
    {
        HttpResponseMessage? responce = null;
        if (ID == null)
        {
            responce = await httpClient.PostAsJsonAsync("api/Customer", Customer);
        }
        else
        {
            responce = await httpClient.PutAsJsonAsync("api/Customer", Customer);
        }
        responce.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("/Customers");
    }
}
